<div class="row" ng-controller="MyTraceJobController">

  <div class="col-md-3">
  	<div class="panel panel-default" ui-scrollfix='+66'>
  	  <div class="panel-heading">
    	<h3 class="panel-title">任务列表</h3>
  	  </div>
  	  <div class="panel-body">
  	  	<ul class="nav nav-pills nav-stacked">
	  	  <li  ng-repeat="item in traceJobs" ng-class="{active: item.active}">
	  	  	<a href="" ng-click="changeCurrentJob($index)">
		        {{item.traceJob.jobName}}
            <span class="badge pull-right">{{item.traceJob.lastMatchedNum}}</span>
	  	  	</a>
	  	  </li>
		</ul>
  	  </div>
    </div>
  </div>

  <div class="col-md-7">
   	<div class="panel panel-default">
  	  <div class="panel-heading">
    	<h3 class="panel-title">信息列表</h3>
  	  </div>
	  	<ul class="list-group" infinite-scroll='loadMore()' infinite-scroll-distance='1' infinite-scroll-disabled='unloadable()'>
  	  	<a ng-repeat="item in matchedEntities" ng-click="showEntity($index)" href="" class="list-group-item" data-toggle="modal" data-target="#detailModal">
	        <h5 class="list-group-item-heading">{{item.webEntityTitle}}</h4>
          <p class="list-group-item-text">
            {{item.webEntityDatetime}}
            <span class="label label-default pull-right">{{item.webEntityDatetime}}</span>
          </p>
  	  	</a>
	    </ul>
    </div>
  </div>

<!--Detail Modal -->
  <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-bg">
      <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">{{currentEntity.title}}</h4>
          </div>
          <div class="modal-body" ng-bind-html="currentEntity.content"></div>
          <div class="modal-footer">
          </div>
      </div>
    </div>
  </div>


</div>
