
<div ng-controller="NewTraceJobController">
	<form class="form-horizontal" name="newJobForm" novalidate>
		<div class="form-group">
		    <label for="job_title" class="col-sm-2 control-label">任务标题</label>
		    <div class="col-sm-7">
		   	    <input ng-model="job.jobName" type="text" class="form-control" id="job_title" placeholder="任务标题" required>
		    </div>
		</div>
		<div class="form-group">
		    <label for="job_des" class="col-sm-2 control-label">任务简介</label>
		    <div class="col-sm-7">
		   	    <textarea class="form-control" rows="3" ng-model="job.description" id="job_des" placeholder="任务简介"></textarea>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-sm-2 control-label">追踪条件</label>
		    <div class="col-sm-7">
		        <label class="radio-inline">
					<input type="radio" name='rulePolicy' ng-model="job.rule" value='1'icheck>
					满足以下任意条件
				</label>
		        <label class="radio-inline">
					<input type="radio" name='rulePolicy' ng-model="job.rule" value='0' icheck>
					满足以下所有条件
		        </label>
		        <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="addRule()">添加条件</button>
		    </div>
		</div>
		<div class="form-group" ng-repeat="i in rules">
			<div class="col-sm-2">
				<button type="button" class="btn btn-danger btn-sm pull-right" ng-click="deleteRule($index)" ng-disabled="rules.length == 1">删除</button>
			</div>
		    <!-- <div class="col-sm-7"> -->
		    		<div class="col-sm-2">
				    	<select class="form-control">
				    		<option>标题</option>
				    		<option>正文</option>
				    		<option selected>标题或正文</option>
				    	</select>
					</div>
		    		<div class="col-sm-2">
				    	<select class="form-control">
				    		<option selected>包含</option>
				    		<option>不包含</option>
				    		<option>开始于</option>
				    	</select>
				    </div>
				    <div class="col-sm-3">
				    	<input ng-model="job.rule" type="text" class="form-control" placeholder="多个词语，用逗号隔开" required>
				    </div>
		    <!-- </div> -->
		</div>
		<div class="form-group">
		    <div class="col-sm-offset-2 col-sm-7">
		    	<label class="checkbox-inline">
  					<input type="checkbox" value="option1" ng-model='job.share' icheck> 共享任务
				</label>
				<label class="checkbox-inline">
  					<input type="checkbox" value="option2" ng-model='job.email' icheck checked> 推送到邮箱
				</label>
		    </div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">追踪类别</label>
		    <div class="col-sm-10">
		    	<div class="col-sm-2" ng-repeat="item in SCService.categories">
			    	<label class="checkbox-inline">
	  					<input type="checkbox" ng-model='SCService.categories[$index].selected' ng-change="SCService.categories[$index].selected?addCategory(item.uuid):removeCategory(item.uuid)" icheck> {{item.name}}
					</label>
				</div>
		    </div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">追踪网站</label>
		    <div class="col-sm-10">
		    	<div class="col-sm-2" ng-repeat="item in SCService.seeds">
			    	<label class="checkbox-inline">
	  					<input type="checkbox" ng-model='SCService.seeds[$index].selected'> {{item.name}}
					</label>
				</div>
		    </div>
		</div>	
	</form>

		{{job | json}}
		{{SCService | json}}
</div>

